body {
    margin: 0;
    padding: 0;
  }
  .nav-wrap {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid rgb(179, 179, 179);
  }
  .nav-bar {
    width: 70%;
    height: 100px;
    min-width: 800px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    align-items: center;
  }
  .nav-bar > div {
    display: flex;
    align-items: center;
  }
  .logo-img-wrap {
    width: 160px;
  }
  .logo-img-wrap img {
    display: block;
    width: 100%;
  }
  .domain-name {
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
  }
  .login-or-mypage-div {
    margin-left: auto;
    background-color: rgb(60, 60, 255);
    width: 100px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    color: white;
    cursor: pointer;
  }
  .register-or-logout-div {
    margin-left: 20px;
    background-color: rgb(60, 60, 255);
    width: 100px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    color: white;
    cursor: pointer;
  }
  .login-or-mypage-div:hover {
    background-color: rgb(102, 102, 249);
  }
  .register-or-logout-div:hover {
    background-color: rgb(102, 102, 249);
  }
/* teacher-workshop-information css */
.button-div{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 800px;
    border-bottom: 2px solid rgb(179, 179, 179);
}
.button{
    width: 200px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    border-radius: 10px;
    background-color: #ffffff;
}
.button:focus {
    background-color: rgb(102, 102, 249);
}
.workshop-div{
    width: 1100px;
    height: 700px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    /* border: 2px solid lavender; */
}.workshop-div1{
    width: 500px;
    height: 600px;
    margin: auto;
    /* border: 2px solid #000000; */
}
.wating-workshop-div{
    width: 500px;
    height: 500px;
    margin-top: 20px;
    border: 2px solid #000000;
}
.wating-workshop{
    width:250px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    list-style: none;
    border: 2px solid #000000;
}