<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/admin/css/header.css" rel="stylesheet" />
    <title>Document</title>
  </head>

  <body>
    <div class="nav-wrap">
      <nav class="nav-bar">
        <div class="logo-img-wrap">
          <img src="/images/admin-image/header.png" />
        </div>
        <div class="domain-name">Worker Bench</div>

        <% if (user === false) { %> <% } else { %>
        <div class="login-or-mypage-div" onclick="adminLogout()">로그아웃</div>
        <% } %>
      </nav>
    </div>

    <script src="/admin/js/header.js"></script>
  </body>
</html>
