<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/admin/css/header.css" rel="stylesheet" />
    <title>Document</title>
  </head>

  <body>
    <div class="nav-wrap">
      <nav class="nav-bar">
        <div class="logo-img-wrap">
          <img src="/images/admin-image/header.png">
        </div>
        <div class="domain-name">Worker Bench</div>
        <div class="login-or-mypage-div">로그인</div>
        <div class="register-or-logout-div">회원가입</div>
      </nav>
    </div>
  </body>
</html>