<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Ubuntu&display=swap" rel="stylesheet">

    <link href="/admin/css/request-workshops-list.css" rel="stylesheet" />
    <script src="/admin/js/request-workshops-list.js" defer></script>
    

    <title>Document</title>
</head>
<style>

</style>
<body>
    <!--헤더 nav-bar-->
    <%- include('header.ejs') %>

    <div class="wrapper">
        <!--sidebar 구역입니다.-->
        <div class="sidebar">
            <li class="target-li active-li" onclick="location.href='request-workshops-list'">검토 대기 목록</li>
            <li class="target-li link-li" onclick="location.href='workshops-manage'">워크숍 관리</li>
            <li class="target-li link-li" onclick="location.href='user-or-company-manage'">유저 및 업체 관리</li>
            <li class="target-li link-li" onclick="location.href='admin-manage'">관리자 계정 관리</li>
        </div>

        <!--main-content 구역입니다.-->
        <div class="main-content">
            <div class="check-list-box">검토 대기중인 워크숍 목록입니다.</div>
            <!-- 워크숍 목록입니다.-->
            <div class="card-wrapper" >
                <div class="row row-cols-1 row-cols-md-4 g-4" id="workshop-list">
                    <div class="col">
                        <div class="card">
                        <img src="/images/admin-image/workshop-example.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="category">
                                <div class="online">온라인</div>
                                <div class="offline">오프라인</div>
                            </div>
                            <div class="workshop-title">성공의 시작, 작은 습관 만들기</div>
                            <div class="workshop-price">70,000원~</div>
                            <div class="personnel-and-time">
                                <div class="workshop-personnel">10명~200명</div>
                                <div class="workshop-time">120분</div>
                            </div>
                            <div class="workshop-tag">
                                <span class="tag">자기계발</span>
                            </div>
                            <div class="approval-or-refuse">
                                <button type="button" class="btn btn-outline-primary">승인하기</button>
                                <button type="button" class="btn btn-outline-dark">반려하기</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</body>
</html>