<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 50%;
}

.card {
  width: calc(25% - 10px);
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  overflow: hidden;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
}

.card-text {
  padding: 10px;
}

.card-text h3 {
  margin: 0 0 10px 0;
}

.card-text p {
  margin: 0;
}

</style>
<body>
    <div class="card-list">
        <div class="card">
          <img src="image1.jpg" alt="Image 1">
          <div class="card-text">
            <h3>Card Title 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="card">
          <img src="image2.jpg" alt="Image 2">
          <div class="card-text">
            <h3>Card Title 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="card">
            <img src="image1.jpg" alt="Image 1">
            <div class="card-text">
              <h3>Card Title 1</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="card">
            <img src="image1.jpg" alt="Image 1">
            <div class="card-text">
              <h3>Card Title 1</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="card">
            <img src="image1.jpg" alt="Image 1">
            <div class="card-text">
              <h3>Card Title 1</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="card">
            <img src="image1.jpg" alt="Image 1">
            <div class="card-text">
              <h3>Card Title 1</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="card">
            <img src="image1.jpg" alt="Image 1">
            <div class="card-text">
              <h3>Card Title 1</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
      </div>
      
</body>
</html>