/* teacher-workshop-information css */
.button-div{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 800px;
    border-bottom: 2px solid rgb(179, 179, 179);
}
#button{
    width: 200px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    border-radius: 10px;
    background-color: #ffffff;
}
#button-information{
    width: 200px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    border-radius: 10px;
    background-color: #9f70fb;
}
#workshop-infomationList{
    width: 1200px;
    height: 700px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.workshop-div{
    width: 600px;
    height: 700px;
    border: 2px solid #000000;
}
.teacher-li-div{
    width: 200px;
    height: 50px;
    margin: auto;
    margin-top: 50px;
}
.teacher-li{
    font-size: 25px;
    text-align: center;
    list-style: none;
    border: 2px solid #000000;
}
.teacher-wrokshop-div{
    width: 600px;
    height: 550px;
    display: flex;
    margin-top: 50px;
}
.teacher-workshop-li-div{
    width: 200px;
    height: 400px;
    margin-left: 50px;
    margin-top: 50px;
}
.teacher-workshop-li{
    font-size: 25px;
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
    border: 2px solid #000000;
}
.workshop-information-div{
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 20px;
}
.workshop-information-li{
    font-size: 25px;
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
    border: 2px solid #000000;
}
.Button{
    width: 250px;
    height: 50px;
    background-color:  #a084dc;
    border-radius: 5px;
    color: white;
    border:none ;
    margin: auto;
    margin-top: 100px;
}
.Button:hover {
    background-color: #645cbb;
}