.fw-bolderandtopbottom {
    font-weight: bolder !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .text-center {
    text-align: center !important;
  }

/* workshop-register css */
.button-div{
   margin: auto;
   display: flex;
   justify-content: center;
   width: 800px;
   border-bottom: 2px solid rgb(179, 179, 179);
}
.button-div-complete{
   margin: auto;
   display: flex;
   justify-content: center;
   width: 400px;
   border-bottom: 2px solid rgb(179, 179, 179);
}
#button{
   width: 200px;
   margin-right: 10px;
   margin-top: 30px;
   margin-bottom: 30px;
   height: 50px;
   border-radius: 10px;
   background-color: #ffffff;
}
#button:hover{
    background-color:#a084dc;
}
#button-manage{
    width: 200px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    border-radius: 10px;
    background-color: #9f70fb;
}

#button-complete{
    width: 200px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    border-radius: 10px;
    background-color: #9f70fb;
}

#teacher-completeBox {
    width: 1250px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}
.teacher-manage-div{
    width: 600px;
    height: 600px;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 2px solid rgb(179, 179, 179);
    display: flex;
}
.workshop-information-Div{
    width: 300px;
    height: 600px;
}
.teacher-workshop-li-div{
    width: 100px;
    height: 200px;
    margin-left: 10px;
}
.teacher-workshop-li-div >img{
    margin-top: 10px;
    width: 280px;
    height: 200px;
}
.workshop-information-li-title{
    font-size: 20px;
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 15px;
    height: 40px;
    border-radius: 10px;
    color:#5129a3
}
.workshop-information-li{
  font-size: 20px;
  text-align: center;
  list-style: none;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: bold;
  box-shadow: rgb(0 0 0 / 30%) 0px 4px 15px;
  height: 35px;
  border-radius: 10px;
  color:#5129a3
}
.workshop-information-li-tag{
    font-size: 20px;
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: bold;
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 15px;
    height: 50px;
    border-radius: 10px;
    color:#5129a3
}
.workshop-information-div{
  width: 170px;
  height: 300px;
  margin-left: 120px;
  font-weight: bold;
  color: rgb(42, 42, 42);
}
.workshop-information-title-data{
    font-size: 18px;
    text-align: center;
    list-style: none;
    height: 60px;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-bottom: 1px solid black;
}
.workshop-information-data{
    font-size: 18px;
    text-align: center;
    list-style: none;
    height: 35px;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-bottom: 1px solid black;
}
.workshop-information-tag-data{
    font-size: 18px;
    text-align: center;
    list-style: none;
    height: 60px;
    padding-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
.workshop-information-Div2{
    width: 300px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.teacher-workshop-apply-div{
    width: 110px;
    height: 300px;
    margin-left: 10px;
    margin-top: 100px;
    margin-right: 10px;
}
.workshop-information-apply{
    font-size: 20px;
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
    font-weight: bold;
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 15px;
    height: 35px;
    border-radius: 10px;
    color:#5129a3
}
.workshop-information-apply-div{
    width: 160px;
    height: 300px;
    margin-top: 100px;
    font-weight: bold;
    color: rgb(42, 42, 42);
}
.workshop-information-apply-data{
    font-size: 18px;
    text-align: center;
    list-style: none;
    height: 35px;
    padding-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}