.fw-bolderandtopbottom {
    font-weight: bolder !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .text-center {
    text-align: center !important;
  }

/* workshop-register css */
.button-div{
   margin: auto;
   display: flex;
   justify-content: center;
   width: 800px;
   border-bottom: 2px solid rgb(179, 179, 179);
}
#button{
   width: 200px;
   margin-right: 10px;
   margin-top: 30px;
   margin-bottom: 30px;
   height: 50px;
   border-radius: 10px;
   background-color: #ffffff;
}
#button:hover{
    background-color:#a084dc;
}
#button-manage{
    width: 200px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    border-radius: 10px;
    background-color: #9f70fb;
}
#teacher-incompleteBox {
    width: 1250px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}
.teacher-manage-div{
    width: 600px;
    height: 600px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 2px solid #000000;
    display: flex;
}
.workshop-information-div{
    width: 200px;
    height: 600px;
    margin-left: 10px;
}
.workshop-information-div >img{
    margin-top: 10px;
    margin-left: 10px;
    width: 250px;
    height: 200px;
}
.company-information-div{
    width: 250px;
    margin-left: 100px;
    margin-top: 20px;
    justify-content: center;
}
.workshop-information-title{
    width:250px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 23px;
    text-align: center;
    list-style: none;
    border: 2px solid #000000;
}
.workshop-information{
    width:250px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
    text-align: center;
    list-style: none;
    border: 2px solid #000000;
}
.company-information{
    width: 220px;
    height: 370px;
    margin: 0 auto;
    margin-top: 50px;
}
.company-input{
    width:250px;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
    list-style: none;
    border: 2px solid #000000;
}
#button-div{
    width: 250px;
    margin-top: 50px;
}
.Button{
    width: 100px;
    height: 40px;
    margin-left: 15px;
    margin-top: 10px;
    background-color: #9f70fb;
    border-radius: 5px;
    color: white;
    border:none ;
}
#button-incomplete{
    width: 200px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    border-radius: 10px;
    background-color: #9f70fb;
}