#button-workshop{
    width: 200px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    border-radius: 10px;
    background-color: #9f70fb;
}

.button-div{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 800px;
    border-bottom: 2px solid rgb(179, 179, 179);
}
#button{
    width: 200px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    border-radius: 10px;
    background-color: #ffffff;
}

/* teacher-workshop css*/
.workshopBox{
    width: 1100px;
    margin: auto;
}
.today-workshop{
    width:250px;
    height: 50px;
    margin-top: 100px;
    margin-left: 20px;
    font-size: 25px;
    text-align: center;
    list-style: none;
    border: 2px solid #000000;
    background-color: #a084dc;
}
.workshop-div{
    width: 1200px;
    margin:auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.workshop{
    margin-top: 20px;
    margin-left: 20px;
    border: 2px solid #000000;
    width: 250px;
    height: 380px;
    text-align: center;
    font-size:20px;
}
.workshop > img{
    margin-top: 10px;
    width: 230px;
    height: 220px;
}
.title{
    border: 2px solid #000000;
    width: 230px;
    margin: auto;
    list-style: none;
}
.tag-div{
    width: 250px;
    height: 100px;
    display: flex;
}
.genre-tag{
    border: 2px solid #000000;
    width: 100px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    list-style: none;
}
.purpose-tag{
    border: 2px solid #000000;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
    list-style: none;
}
.reject{
    border: 2px solid #000000;
    width: 100px;
    height: 70px;
    list-style: none;
    margin: auto;
    margin-left: 30px;
    margin-top: 10px;
}
.list-group-item{
    width:100px
}
.last-workshop{
    width:250px;
    height: 50px;
    margin-top: 200px;
    margin-left: 20px;
    font-size: 25px;
    text-align: center;
    list-style: none;
    border: 2px solid #000000;
    background-color: #a084dc;
}
.examine-workshop{
    width:250px;
    height: 50px;
    margin-top: 200px;
    margin-left: 20px;
    font-size: 25px;
    text-align: center;
    list-style: none;
    border: 2px solid #000000;
    background-color: #a084dc;
}