/* teacher-workshop-information css */
.button-div{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 800px;
    border-bottom: 2px solid rgb(179, 179, 179);
}
#button{
    width: 200px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    border-radius: 10px;
    background-color: #ffffff;
}
.button:focus {
    background-color: rgb(102, 102, 249);
}
#workshop-infomationList{
    width: 1200px;
    height: 700px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
      /* border: 2px solid #000000; */
}
.workshop-div{
    width: 600px;
    height: 700px;
    /* margin: auto; */
    border: 2px solid #000000;
}
.teacher-li-div{
    width: 200px;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    /* border: 2px solid #000000; */
}
.teacher-li{
    font-size: 25px;
    text-align: center;
    list-style: none;
    border: 2px solid #000000;
}
.teacher-wrokshop-div{
    width: 600px;
    height: 600px;
    display: flex;
    /* margin: auto; */
    margin-top: 50px;
    /* border: 2px solid #000000; */
}
.teacher-workshop-li-div{
    width: 200px;
    height: 400px;
    margin-left: 50px;
    margin-top: 50px;
    /* border: 2px solid #000000; */
}
.teacher-workshop-li{
    font-size: 25px;
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
    border: 2px solid #000000;
}
.workshop-information-div{
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 20px;
    /* border: 2px solid #000000; */
}
.workshop-information-li{
    font-size: 25px;
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
    border: 2px solid #000000;
}
/* .test{
    width: 100px;
    height: 50px;
    border: 2px solid #000000;
    margin: auto;
    list-style: none;
}
.wating-workshop-div{
     width: 300px;
    height: 500px;
    margin-top: 20px;
    border: 2px solid #000000;
}
.wating-workshop{
    width:250px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    list-style: none;
    border: 2px solid #000000;
    }  */