/* workshop-register css */
.button-div{
   margin: auto;
   display: flex;
   justify-content: center;
   width: 800px;
   border-bottom: 2px solid rgb(179, 179, 179);
}
#button{
   width: 200px;
   margin-right: 10px;
   margin-top: 30px;
   margin-bottom: 30px;
   height: 50px;
   border-radius: 10px;
   background-color: #ffffff;
}
#button-register{
    width: 200px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    border-radius: 10px;
    background-color: #9f70fb;
}
#workshop-registerBox {
    width: 1000px;
    height: 1100px;
    margin: 0 auto;
    margin-top: 100px;
    border: 2px solid lavender;
    border-radius: 20px;
    box-shadow: 3px 3px 5px lavender;
    display: flex;
    flex-wrap: wrap;
}
.image{
    width: 400px;
    height: 300px;
    margin-top: 50px;
    margin-left: 100px;
}
#thumb-img-show {
    width: 400px;
    height: 400px;
    margin: auto;
    margin-bottom: 5px;
    border: none;
    border: 2px solid lavender;
  }
.workshop-information{
    width: 245px;
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
#more-img-wrap1{
    width: 1000px;
    height: 400px;
    margin: auto;
}
.sub-Img-label{
    width:150px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    list-style: none;
    border: 2px solid #000000;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #a084dc
}
#more-img-wrap{
    width: 1000px;
    height: 400px;
    margin: auto;
    display: flex;
}
.sub-imgs-wrap{
    margin: auto;
}
.sub-img-class{
    width: 280px;
    height: 300px;
    border: 2px solid lavender;
}
.sub-img-file{
    width: 200;
}
#fileWidth{
    width: 280px;
    margin-right: 10px;
}
#category{
    width: 300px;
    height: 40px; 
}
#title{
    width: 245px;
}
#minMember{
    width: 110px;
}
#maxMember{
    width: 110px;
    margin-left: 25px;
}

#genreId{
    width: 300px;
    height: 40px; 
    margin-top: 10px;
}
#purposeTagId1{
    width: 110px;
    height: 40px; 
    margin-top: 10px;
}
#purposeTagId2{
    width: 110px;
    height: 40px; 
    margin-left: 25px;
    margin-top: 10px;
}
#totalTime{
    width: 245px;
}
#price{
    width: 245px;
}
#location{
    width: 300px;
    height: 40px;    
}
.contents-div{
    width: 1000px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
}
.workshop-description-li{
    width:150px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
    list-style: none;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #a084dc;
}
#desc{
    width: 1000px;
    height: 300px;
    font-size: 30px;
}
.regiseterBtn-div{
    width: 200px;
    margin-left: 1250px;
}
#workshopRegisterBtn {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    margin-left: 280px;
    background-color:#a084dc;
    border-radius: 5px;
    color: white;
    border:none ;
}