.fw-bolderandtopbottom {
  font-weight: bolder !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-center {
  text-align: center !important;
}

/* workshop-register css */
.button-div {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 800px;
  border-bottom: 2px solid rgb(179, 179, 179);
}
#button {
  width: 200px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 50px;
  border-radius: 10px;
  background-color: #ffffff;
}
#button:hover {
  background-color: #a084dc;
}
#button-register {
  width: 200px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 50px;
  border-radius: 10px;
  background-color: #9f70fb;
}
#workshop-registerBox {
  width: 1000px;
  height: 1100px;
  margin: 0 auto;
  margin-top: 100px;
  border: 2px solid lavender;
  border-radius: 20px;
  box-shadow: 3px 3px 5px lavender;
  display: flex;
  flex-wrap: wrap;
}
.image {
  width: 400px;
  height: 300px;
  margin-top: 50px;
  margin-left: 100px;
}
#thumb-img-show {
  width: 400px;
  height: 400px;
  margin: auto;
  margin-bottom: 5px;
  border: none;
  border: 2px solid lavender;
}
.workshop-information {
  width: 280px;
  margin-left: 100px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
#more-img-wrap1 {
  width: 1000px;
  height: 400px;
  margin: auto;
}
.sub-Img-label {
  width: 280px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 25px;
  text-align: center;
  list-style: none;
  border: 2px solid #000000;
  margin-left: 20px;
  border-radius: 10px;
  background-color: #a084dc;
}
#more-img-wrap {
  width: 1000px;
  height: 400px;
  margin: auto;
  display: flex;
}
.sub-imgs-wrap {
  margin: auto;
}
.sub-img-class {
  width: 280px;
  height: 300px;
  border: 2px solid lavender;
}
.sub-img-file {
  width: 200;
}
#fileWidth {
  width: 280px;
  margin-right: 10px;
}
#category {
  width: 245px;
  height: 40px;
}
#title {
  width: 245px;
  font-size: 15px;
}
#minMember {
  width: 110px;
}
#maxMember {
  width: 110px;
  margin-left: 25px;
}

#genreId {
  width: 245px;
  height: 40px;
  margin-top: 10px;
}
#purposeTagId1 {
  width: 110px;
  height: 40px;
  margin-top: 10px;
}
#purposeTagId2 {
  width: 110px;
  height: 40px;
  margin-left: 25px;
  margin-top: 10px;
}
#totalTime {
  width: 245px;
}
#price {
  width: 245px;
}
#location {
  width: 245px;
  height: 40px;
}
.contents-div {
  width: 1000px;
  height: 400px;
  margin: auto;
  margin-top: 50px;
}
.video-contents-div {
  width: 1000px;
  height: 650px;
  border: 2px solid lavender;
  border-radius: 20px;
  box-shadow: 3px 3px 5px lavender;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  margin-top: 50px;
}
.workshop-video-li {
  width: 250px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 25px;
  text-align: center;
  list-style: none;
  border-radius: 10px;
  border: 2px solid #000000;
  background-color: #a084dc;
}
.workshop-description-li {
  width: 150px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 25px;
  text-align: center;
  list-style: none;
  border-radius: 10px;
  border: 2px solid #000000;
  background-color: #a084dc;
}
#desc {
  width: 1000px;
  height: 300px;
  font-size: 30px;
}
.regiseterBtn-div {
  width: 1000px;
  height: 50px;
  margin: auto;
  margin-bottom: 150px;
  margin-top: 20px;
}
#workshopRegisterBtn {
  width: 200px;
  height: 50px;
  background-color: #a084dc;
  border-radius: 5px;
  color: white;
  border: none;
  float: right;
}
.video-one-set-wrap {
  width: 90%;
  height: 530px;
  margin: auto;
  margin-top: 5px;
}
.video-show-tag-wrap {
  width: 600px;
  height: 460px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
#video-show-tag {
  width: 600px;
  max-height: 450px;
}
.video-input {
  width: 500px;
  display: block;
  margin: auto;
}
.caution-video {
  margin-left: 10px;
  color: red;
}

#uploading-video {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
#waiting-upload {
  width: 600px;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-left: -300px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  font-size: 28px;
  color: rgb(255, 255, 255);
  display: none;
}

.deco-number-input {
  width: 20px;
  height: 20px;
  display: block;
  padding-top: 10px;
  margin-left: 7px;
}
