/* workshop-register css */
.button:focus {
    background-color: rgb(102, 102, 249);
}
.button-div{
   margin: auto;
   display: flex;
   justify-content: center;
   width: 800px;
   border-bottom: 2px solid rgb(179, 179, 179);
}
#button{
   width: 200px;
   margin-right: 10px;
   margin-top: 30px;
   margin-bottom: 30px;
   height: 50px;
   border-radius: 10px;
   background-color: #ffffff;
}
#workshop-registerBox {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border: 2px solid lavender;
    border-radius: 20px;
    box-shadow: 3px 3px 5px lavender;
    display: flex;
    justify-content: center;
}
#workshop-registerBox > .image> img{
    width: 300px;
    height: 300px;
}
.image{
    width: 400px;
    height: 300px;
    margin-top: 50px;
    /* border: 2px solid lavender; */
}
#formFileMultiple{
    width: 300px;
}
.image-register{
    width: 300px;
    height: 70px;
    /* border: 2px solid lavender; */
}
#image-registerBtn{
    width: 300px;
    height: 50px;
    margin: 0 auto;
    background-color: rgb(60, 60, 255);
    border-radius: 5px;
    color: white;
    border:none ;
}
#image-registerBtn {
    background-color: rgb(102, 102, 249);
}
.wating-workshop{
    width:250px;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
    list-style: none;
    border: 2px solid #000000;
}
.workshop-information{
    width: 300px;
    margin-left: 20px;
    margin-top: 50px;
}
.contents-div{
    width: 1000px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    /* border: 2px solid lavender; */
}
.contents-font-size{
    font-size: 40px;
}
.workshop-description-li{
    width:150px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
    list-style: none;
    border: 2px solid #000000;
}
#contents{
    width: 1000px;
    height: 300px;
    font-size: 30px;
}
.regiseterBtn-div{
    width: 200px;
    margin-left: 1250px;
    /* border: 2px solid #000000; */
}
#registerBtn {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background-color: rgb(60, 60, 255);
    border-radius: 5px;
    color: white;
    border:none ;
}
#registerBtn:hover {
    background-color: rgb(102, 102, 249);
}
