*{
    margin: 0;
    padding: 0;
    font-family: 'Gowun Dodum', sans-serif;
}


/*sidebar css 구간입니다.*/

.wrapper{
    display: flex;
    min-height: 1080px;
    height: 100%;
}

.sidebar{
    min-width: 170px;
    width: 15%;
    height: 100%;
    min-height: 1080px;
    background: #9F70FB;
    color: white;
    padding-top: 30px;
}
.ul-title {
    padding-top: 10px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 30px;

}
.ul-category {
    display: block;
    margin-top: 5px;
    padding: 0;
}
.target-li {
    display: block;
    padding-left: 20px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}
.target-li a{
    color: white;
    display: block;
}
.link-li:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.active-li {
    background-color: white;
    color: black;
}

/*main-content 구간입니다.*/
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px auto auto auto;
}

.admin-manage-box{
    font-weight: bold;
    width: 500px;
    padding: 30px 45px 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 15px;
    border-radius: 12px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.create-admin {
    border-radius: 10px;
    background-color: #c0a5f7;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 30px;
}
.create-admin:hover {
    background-color: #9F70FB;
}

.admin-list-table {
    border: 1px #a39485 solid;
    font-size: .8em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

thead {
    font-weight: bold;
    color: #fff;
    background: #73685d;
}

th {
    background-color: rgb(181, 181, 181);
}

td, th {
    padding: 1em 1.3em;
    vertical-align: middle;
}

td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
}
.admin-remove-btn {
    font-size:11px;
    padding:10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 0;
}
.admin-remove-btn:hover {
    background-color: gray;
}

/*모달창 수정 부분입니다.*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
}

.form-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.input-form {
    font-size: 14px;
    border : 1px solid gray;
    border-radius: 5px;
    margin: 5px;
    padding : 2px 5px 2px 5px;
    width: 90%;
    height: 40px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
