*{
    margin: 0;
    padding: 0;
    font-family: 'Gowun Dodum', sans-serif;
}

/*sidebar css 구간입니다.*/

.wrapper{
    display: flex;
    min-height: 1080px;
    height: 100%;
}

.sidebar{
    min-width: 170px;
    max-width: 220px;
    width: 16%;
    height: 100%;
    min-height: 1080px;
    background: #9F70FB;
    color: white;
    padding-top: 30px;
    flex-shrink: 0;
    
}
.ul-title {
    padding-top: 10px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 30px;

}
.ul-category {
    display: block;
    margin-top: 5px;
    padding: 0;
}
.target-li {
    display: block;
    padding-left: 20px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}
.target-li a{
    color: white;
    display: block;
}
.link-li:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.active-li {
    background-color: white;
    color: black;
}

/*main-content 구간입니다.*/
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px auto auto auto;
}

.user-or-company-search{
    font-weight: bold;
    width: 600px;
    padding: 30px 45px 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 15px;
    border-radius: 12px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-wrap {
    height: 40px;
    width: 500px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-wrap > .form-select {
    width:110px;
    font-size: 13px;
}

.search-box {
    border: 1px solid #9F70FB;
    font-size: 16px;
    width: 325px;
    padding: 10px;
    outline: none;
    float: left;
}
.search-button {
    width: 50px;
    height: 100%;
    border: 0px;
    background: #9F70FB;
    outline: none;
    float: right;
    color: white;
    cursor: pointer;
}

/*유저 검색시 나오는 목록 구역입니다.*/
.user-list-wrap {
    display: flex;
    width: 500px;
    margin-bottom: 10px;
}
.user-list-wrap > div {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.user-list-wrap > .user-data {
    width: 380px;
}

/*업체 검색시 나오는 목록 구역입니다.*/
.company-list-wrap {
    display: flex;
    width: 500px;
    margin-bottom: 10px;
}
.company-list-wrap > div {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.company-list-wrap > .company-data {
    width: 380px;
}

.ban-btn {
    width: 100px;
    background-color: black;
    color: white;
}
.ban-btn:hover {
    border: 2px solid #9F70FB;
    cursor: pointer;
}