<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>메인 페이지</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <!-- JQuery import -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- Axios import -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/workshops/css/workshop-search.css" />
  </head>
  <body>
    <!-- 워크샵 검색창 -->
    <%- include ("header.ejs") %>
    <div class="workshop-search-box">
      <div class="workshop-search-title" onchange="location.href=this.value">
        우리 팀/회사에 딱 맞는 워크샵 찾아보기
      </div>
      <select class="form-select category" aria-label="Default select example">
        <option selected disabled>온라인 / 오프라인</option>
        <option value="online">온라인</option>
        <option value="offline">오프라인</option>
      </select>
      <input
        class="form-control member-cnt"
        type="number"
        placeholder="인원"
        aria-label="default input example"
        style="width: 100px"
        min="1"
      />

      <select class="form-select location" aria-label="Default select example">
        <option selected disabled>지역</option>
        <option value="서울시 종로구">서울시 종로구</option>
        <option value="서울시 마포구">서울시 마포구</option>
      </select>
      <select class="form-select purpose" aria-label="Default select example">
        <option selected disabled>목적</option>
        <option value="팀웍 증진">팀웍 증진</option>
        <option value="서류 작성">서류 작성</option>
      </select>
      <select class="form-select genre" aria-label="Default select example">
        <option selected disabled>분야</option>
        <option value="문화 예술">문화 예술</option>
      </select>
      <button type="button" class="btn btn-secondary" onclick="reload()">
        재 검색
      </button>
    </div>

    <!-- 워크샵 검색 결과 -->
    <div class="workshop-search-result">검색 결과 00건</div>

    <div class="row row-cols-1 row-cols-md-4 g-4 workshop-result-list">
      <!-- 워크샵 검색 결과 (카드가 붙는 위치)-->
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <script src="/workshops/js/workshop-search.js"></script>
  </body>
</html>
