<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="main/css/style.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <h1>안녕하세요~~DEDSDASDA --432-</h1>
    {{ data }}
    <button onclick="change()">제발~</button>
  </body>

  <script>
    const change = () => {
      const h1Tag = document.querySelector('h1');
      h1Tag.innerText = '잘 바뀌나용?~~~!!!!!#@#!@';
    };
  </script>
</html>
