/* 웹 폰트 임포트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
}

.form-select,
.form-control {
  width: 200px;
  display: inline-block;
}

.workshop-search-box {
  border: 1px solid grey;
  border-radius: 10px;
  margin: 50px;
  padding: 30px;
}

.workshop-search-title {
  font-size: 30px;
  margin-bottom: 10px;
}

.workshop-search-result {
  font-size: 20px;
  margin: 50px;
}

.workshop-result-list {
  margin: 0 50px 0 50px;
}

.workshop-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.workshop-category {
  border-radius: 20px;
  border: 3px solid #a4a4a4;
  padding: 3px 10px;
  color: white;
  background-color: #a4a4a4;
}

.workshop-price {
  margin-top: 20px;
}
