/* 웹 폰트 임포트 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
}

img {
  width: 600px;
  height: 600px;
  border-radius: 20px;
}

.workshop-thumb {
  object-fit: contain;
  margin-top: 20px;
}

.workshop-summary {
  height: 600px;
  width: 600px;
  margin-top: 20px;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 20px;
  text-align: left;
  padding: 30px;
  box-shadow: 10px 10px rgb(158, 158, 158);
}

.workshop-title {
  font-size: 30px;
  font-weight: bold;
  color: #9f70fb;
  margin-bottom: 20px;
}

.workshop-star,
.workshop-category,
.workshop-member-cnt,
.workshop-total-time,
.workshop-genre,
.workshop-purpose,
.workshop-location {
  margin-bottom: 20px;
  font-size: 20px;
}

.workshop-price {
  font-size: 30px;
  font-weight: bold;
  color: #9f70fb;
}

.order-wish-buttons {
  margin-top: 20px;
}

.order {
  width: 300px;
}

.wish {
  width: 200px;
}

.modal {
  pointer-events: none;
  /* background clickable */
}

.modal-dialog {
  text-align: left;
}

.on-off-buttons {
  margin-bottom: 20px;
}

#address {
  display: none;
}

.nav-tabs {
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
}
