<div class="nav-wrap">
  <nav class="nav-bar">
    <div class="logo-img-wrap" onclick="location.href='/'">
      <img src="/images/header.png" />
    </div>
    <div class="domain-name">Worker Bench</div>
    <button type="radio" id="login-button" onclick="goMypage()">
      마이페이지
    </button>
    <button type="radio" id="signup-button" onclick="logout()">로그아웃</button>
  </nav>
</div>
<link href="/mypage/css/header.css" rel="stylesheet" />
<script src="/mypage/js/header.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<style>
  body {
    margin: 0;
    padding: 0;
  }
  .nav-wrap {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid rgb(179, 179, 179);
  }
  .nav-bar {
    width: 70%;
    height: 100px;
    min-width: 800px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    align-items: center;
  }
  .nav-bar > div {
    display: flex;
    align-items: center;
  }
  .logo-img-wrap {
    width: 160px;
  }
  .logo-img-wrap img {
    display: block;
    width: 100%;
  }
  .domain-name {
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
  }
  .login-or-mypage-div {
    margin-left: auto;
    background-color: rgb(60, 60, 255);
    width: 100px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    color: white;
    cursor: pointer;
  }
  .register-or-logout-div {
    margin-left: 20px;
    background-color: rgb(60, 60, 255);
    width: 100px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    color: white;
    cursor: pointer;
  }
  .login-or-mypage-div:hover {
    background-color: rgb(102, 102, 249);
  }
  .register-or-logout-div:hover {
    background-color: rgb(102, 102, 249);
  }
</style>
