<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div class="nav-wrap">
  <nav class="nav-bar">
    <div class="logo-img-wrap" onclick="location.href='/'">
      <img src="/images/logo.png" />
    </div>
    <div
      class="menu-workshop-search"
      onclick="location.href='/workshops/search'"
    >
      워크샵 검색하기
    </div>
    <button type="radio" id="login-button" onclick="goMypage()">
      마이페이지
    </button>
    <button type="radio" id="signup-button" onclick="logout()">로그아웃</button>
  </nav>
</div>
<link href="/mypage/css/header.css" rel="stylesheet" />
<script src="/mypage/js/header.js"></script>
