<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/mypage/css/style.css" rel="stylesheet" />
    <title>후기 작성 페이지</title>
  </head>


  <body>
    <%- include('header.ejs') %>

    <!--헤더-->
    <div>


      <div id="workshop-registerBox">
        <div class="image">
          <div class="img-test-wrap">
            <div id="thumb-img-wrap">
              <label for="workshop" class="form-label workshop-description-li">썸네일</label>
              <img id="thumb-img-show" />
              <input class="form-control" type="file" accept="image/*" id="thumb-img-file">
            </div>
          </div>
        </div>
        <div class="workshop-information">
              <input type="text" class="form-control" id="title" placeholder="강의제목">
                 
        </div>
        <div id="more-img-wrap1">
          <label for="workshop" class="form-label sub-Img-label">서브 이미지</label>
          <div id="more-img-wrap">
              <div class="sub-imgs-wrap">
                  <img class="sub-img-class" id="sub-img-1"/>
                  <input class="form-control sub-img-file" type="file" accept="image/*" id="fileWidth">
              </div>
              <div class="sub-imgs-wrap">
                  <img class="sub-img-class" id="sub-img-2"/>
                  <input class="form-control sub-img-file" type="file" accept="image/*" id="fileWidth">
              </div>
              <div class="sub-imgs-wrap">
                  <img class="sub-img-class" id="sub-img-3"/>
                  <input class="form-control sub-img-file" type="file" accept="image/*" id="fileWidth">
              </div>
          </div>
      </div>
    </div>
    
    <div class="mb-3 video-contents-div">
      <div class="video-content-wrap">
        <label for="workshop" class="form-label workshop-video-li">영상 첨부 (선택사항)</label>
        <span class="caution-video">* 최대 350MB 까지 업로드 가능합니다.</span>
        <div class="video-one-set-wrap">
          <div class="video-show-tag-wrap">
            <video id="video-show-tag" controls></video>
          </div>
          <input type="file" class="form-control video-input" id="video-file" accept="video/*"/>
        </div>
      </div>
    </div>

    <div class="mb-3 contents-div">
      <label for="workshop" class="form-label workshop-description-li">리뷰 작성</label>
      <input type="text" class="form-control" id="desc" required></input>
    </div>
    <select>
      <option selected>별점(Select)</option>
      <option value="1">⭐</option>
      <option value="2">⭐⭐</option>
      <option value="3">⭐⭐⭐</option>
      <option value="4">⭐⭐⭐⭐</option>
      <option value="5">⭐⭐⭐⭐⭐</option>
    </select>
    <div class="regiseterBtn-div">
        <button type="button" id="workshopRegisterBtn">등록하기</button>
    </div>

    <div id="uploading-video"></div>
    <div id="waiting-upload">입력하신 워크샵 정보를 전송 중입니다. <br />잠시만 기다려 주세요...</div>

    </div>

  </body>
</html>
