/* login css */
#loginBox {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;

  border: 2px solid lavender;
  border-radius: 20px;

  box-shadow: 3px 3px 5px lavender;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.password-forget {
  margin-left: 150px;
  margin-top: 20px;
}
#loginBox > h1 {
  margin: 0 auto;
  margin-bottom: 25px;
}
#wrap {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;

  border: 2px solid lavender;
  border-radius: 20px;

  box-shadow: 3px 3px 5px lavender;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginBtn {
  width: 150px;
  height: 35px;
  background-color: #9f70fb;
  border-radius: 5px;
  color: white;
  border: none;
}
.loginBtn:hover {
  background-color: rgb(102, 102, 249);
}
.signupBtn {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  background-color: #9f70fb;
  color: white;
  border: none;
}

.signupBtn:hover {
  background-color: rgb(102, 102, 249);
}

.input-group-text {
  width: 40px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffffff;
}
.wrap {
  width: 80%;
  max-width: 600px;
  margin: 10px auto;
}
