/*password-change css*/
#passwordBox > h1 {
  margin: 0 auto;
  margin-bottom: 25px;
}
#passwordBox {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  border: 2px solid lavender;
  border-radius: 20px;
  box-shadow: 3px 3px 5px lavender;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#changeBtn {
  width: 150px;
  height: 35px;
  margin: 0 auto;
  background-color: #9f70fb;
  border-radius: 5px;
  color: white;
  border: none;
}
#changeBtn:hover {
  background-color: rgb(102, 102, 249);
}
